
{% import "bootstrap/wtf.html" as wtf %}

{% include 'header.html' %}

	<main>
		<div class="container mt-4">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6">
					<h2>Candidates</h2>
				</div>
			
				<div class="col-lg-6 d-flex justify-content-end">
					<a class="btn btn-primary" href="{{url_for('candidates_new', form=form)}}">New Candidate</a>
				</div>
			</div>
			<hr>
			{% if candidates|length == 0 %}
			<p>There are no candidates registered in this CRM environment</p>
			{% else %}
			<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">ID</th>
				      <th scope="col">Name</th>
				      <th scope="col">Surname</th>
				      <th scope="col">Email</th>
					    <th scope="col">Phone</th>
					    <th scope="col">Added by</th>
					    <th scope="col">Date Created</th>
				    </tr>
				  </thead>
				  <tbody>
				  {% for candidate in candidates %}
				    <tr>
				      <th scope="row">{{candidate.id}}</th>
				      <td>{{candidate.first_name}}</td>
				      <td>{{candidate.last_name}}</td>
				      <td>{{candidate.email}}</td>
					    <td>{{candidate.phone}}</td>
					    <td>{{candidate.created_by.full_name}}</td>
					    <td>{{candidate.created_date}}</td>
				    </tr>
				  {% endfor %}
				  
				  </tbody>
				</table>
			{% endif %}
		</div>
	</main>
{% include 'footer.html' %}