{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}

	<main>
		<div class="container mt-4">
			<div class="row d-flex align-items-center">
				<div class="col-lg-6">
					<h2>Edit template</h2>
				</div>
			
				<div class="col-lg-6 d-flex justify-content-end">
					<a class="btn btn-primary" href="{{url_for('templates')}}">See all templates</a>
				</div>
			</div>
			<hr>
			<div class="mt-4">
				{{ form.csrf_token }}
				{{ wtf.quick_form(form, novalidate=True, button_map={"add": "primary"}) }}
			</div>
		</div>
	</main>
	{{ ckeditor.load() }}
	{{ ckeditor.config(name='text') }}
{% include 'footer.html' %}