{% include "header.html" %}
                <main>
                    <div class="container-fluid px-4">
                        <h2 class="mt-4">Quick Access</h2>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Quick Access</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <a href="{{url_for('tasks_new', form=form)}}">
                                    <div class="card bg-primary text-white mb-4">
                                        <div class="card-body"><i class="fa-solid fa-envelope me-2"></i>
                                            Send Task
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <a href="{{url_for('inbox')}}">
                                    <div class="card bg-primary text-white mb-4">
                                        <div class="card-body"><i class="fa-solid fa-list-check me-2"></i>
                                            Check Status
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <a href="">
                                    <div class="card bg-primary text-white mb-4">
                                        <div class="card-body"><i class="fa-solid fa-magnifying-glass-chart me-2"></i>
                                            Generate Report (available soon)
                                        </div>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                        <h2 class="mt-4">Dashboard</h2>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Completed Tasks (task count per user)
                                    </div>
                                    <div class="card-body"><canvas id="completedBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        New Tasks (task count per user)
                                    </div>
                                    <div class="card-body"><canvas id="newBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Currently working on (tasks count per user)
                                    </div>
                                    <div class="card-body"><canvas id="pendingBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Current Team Workload
                                    </div>
                                    <div class="card-body"><canvas id="taskStatusPieChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="card mb-4">-->
<!--                            <div class="card-header">-->
<!--                                <i class="fas fa-table me-1"></i>-->
<!--                                DataTable Example-->
<!--                            </div>-->
<!--                            <div class="card-body">-->
<!--                                <table id="datatablesSimple">-->
<!--                                    <thead>-->
<!--                                        <tr>-->
<!--                                            <th>Name</th>-->
<!--                                            <th>Position</th>-->
<!--                                            <th>Office</th>-->
<!--                                            <th>Age</th>-->
<!--                                            <th>Start date</th>-->
<!--                                            <th>Salary</th>-->
<!--                                        </tr>-->
<!--                                    </thead>-->
<!--                                    <tfoot>-->
<!--                                        <tr>-->
<!--                                            <th>Name</th>-->
<!--                                            <th>Position</th>-->
<!--                                            <th>Office</th>-->
<!--                                            <th>Age</th>-->
<!--                                            <th>Start date</th>-->
<!--                                            <th>Salary</th>-->
<!--                                        </tr>-->
<!--                                    </tfoot>-->
<!--                                    <tbody>-->
<!--                                        <tr>-->
<!--                                            <td>Tiger Nixon</td>-->
<!--                                            <td>System Architect</td>-->
<!--                                            <td>Edinburgh</td>-->
<!--                                            <td>61</td>-->
<!--                                            <td>2011/04/25</td>-->
<!--                                            <td>$320,800</td>-->
<!--                                        </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/chart-pie.js')}}"></script>
<script src="{{url_for('static', filename='js/chart-bar.js')}}"></script>
<script>
    window.onload = initBarChart('pendingBarChart', {{ data_pending | tojson }}, "orange")
    window.onload = initBarChart('newBarChart', {{ data_new_tasks | tojson }}, "yellow")
    window.onload = initBarChart('completedBarChart', {{ data_completed_tasks | tojson }}, "green")
    window.onload = initPieChart('taskStatusPieChart', {{ data_tasks_status | tojson }})
    
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
{% include "footer.html" %}
