
{% import "bootstrap/wtf.html" as wtf %}

{% include 'header.html' %}

	<main>
		<div class="container mt-4">
			<div class="row d-flex justify-content-between">
				<div class="col">
					<h2 class="mt-4">My Pipeline</h2>
				</div>
				<div class="col d-flex justify-content-end mt-4">
					<span><a class="btn btn-primary ms-2" href="{{url_for('pipeline_new', form=form)}}"><small>Add Interview</small></a></span>
					<span><a class="btn btn-dark ms-2" href="javascript:history.back()"><small>Previous Page</small></a></span>
				</div>
			</div>
			<hr>
			{% with messages = get_flashed_messages() %}
		        {% if messages %}

		          {% for message in messages %}
		          <p class="flash-success">{{ message }}</p>
		          {% endfor %}

		        {% endif %}
	        {% endwith %}
			{% if tasks|length == 0 %}
			<p>You don't have interviews in your pipeline. Please click on Add Interview button above to proceed with your first interview scheduling. Enjoy working with our CRM!</p>
			{% else %}
			<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
					    <th scope="col">Owner</th>
				      <th scope="col">Name</th>
				      <th scope="col">Surname</th>
				      <th scope="col">Email</th>
					    <th scope="col">Phone</th>
					    <th scope="col">Role</th>
					    <th scope="col">Recruiter</th>
					    <th scope="col">Interviewers</th>
					    <th scope="col">Date</th>
					    <th scope="col">Time</th>
					    <th scope="col">Actions</th>
				    </tr>
				  </thead>
				  <tbody>
				  {% for task in tasks %}
				  {% if task.pipeline_status == "pending": %}
				    {% set row_class="pending-color"%}
				  {% elif task.pipeline_status == "completed" %}
				    {% set row_class="completed-color"%}
				  {% elif task.pipeline_status == "cancelled" %}
				    {% set row_class="cancelled-color"%}
				  {% endif %}
				    <tr class={{row_class}}>
				      <th scope="row">{{task.id}}</th>
					    <td>{{task.to_user.full_name}}</td>
				      <td>{{task.candidate.first_name}}</td>
				      <td>{{task.candidate.last_name}}</td>
				      <td>{{task.candidate.email}}</td>
					    <td>{{task.candidate.phone}}</td>
					    <td>{{task.role}}</td>
					    <td>{{task.from_user.full_name}}</td>
					    <td>{{task.interviewers}}</td>
					    <td>{{task.interview_date}}</td>
					    <td>{{task.interview_time}}</td>
					    <td>
						    <div class="dropdown">
							  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							    Action
							  </button>
							  <ul class="dropdown-menu">
								  <li><a class="text-decoration-none d-flex align-items-center ms-2" href="{{url_for('check_task_details', task_id=task.id)}}"><i class="fa-solid fa-magnifying-glass p-1"></i>Check Details</a></li>
								  <li><hr class="dropdown-divider"></li>
								  <li><a class="text-decoration-none d-flex ms-2" href="{{url_for('send_message', task_id=task.id)}}"><i class="fa-solid fa-paper-plane p-1"></i>Send Invite</a></li>
								  <li><hr class="dropdown-divider"></li>
								  <li><a class="text-decoration-none d-flex ms-2" href="{{url_for('pipeline_edit', task_id=task.id)}}"><i class="fa-solid fa-pen-to-square p-1"></i>Update Details</a></li>
								  <li><hr class="dropdown-divider"></li>
								  {% if task.pipeline_status != "completed" %}
								  <li><a class="text-decoration-none d-flex ms-2" href="{{url_for('pipeline_complete', task_id=task.id)}}"><i class="fa-solid fa-calendar-check p-1"></i>Mark Completed</a></li>
								  <li><hr class="dropdown-divider"></li>
								  {% endif %}
								  {% if task.pipeline_status != "cancelled"%}
								  <li><a class="text-decoration-none d-flex ms-2" href="{{url_for('pipeline_cancel', task_id=task.id)}}"><i class="fa-solid fa-comment-slash p-1"></i></i>Mark Cancelled</a></li>
								  <li><hr class="dropdown-divider"></li>
								  {% endif %}
								  <li><a class="text-decoration-none d-flex ms-2" href="{{url_for('pipeline_delete', task_id=task.id)}}"><i class="fa-solid fa-ban p-1"></i>Delete Interview</a></li>
							  </ul>
							</div>
					    </td>
				    </tr>
				  {% endfor %}
				  
				  </tbody>
				</table>
			{% endif %}
		</div>
	</main>
	{{ ckeditor.load() }}
	{{ ckeditor.config(name='text') }}
{% include 'footer.html' %}