{% include "header.html" %}
                <main>
                    <div class="container-fluid px-4">
                        <div class="row d-flex justify-content-between">
                            <div class="col">
                                <h2 class="mt-4"><small>Interview with </small><strong>{{ task.candidate.full_name }}</strong></h2>
                                <ol class="breadcrumb mb-4">
                                    <li class="breadcrumb-item active">for the role of <strong>{{task.role}}</strong></li>
                                </ol>
                            </div>
                            <div class="col d-flex justify-content-end mt-4">
                                <span><a class="btn btn-primary ms-2" href="{{url_for('inbox')}}"><small>Inbox</small></a></span>
                                <span><a class="btn btn-dark ms-2" href="javascript:history.back()"><small>Previous Page</small></a></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="accordion" id="accordionInterviewDetails">
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Candidate details
                                      </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionInterviewDetails">
                                      <div class="accordion-body">
                                          <table class="table">
                                              <tbody>
                                                <tr>
                                                  <th scope="row">Full Name:</th>
                                                  <td>{{ task.candidate.full_name }}</td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">Phone:</th>
                                                  <td>{{ task.candidate.phone }}</td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">Email:</th>
                                                  <td colspan="2">{{ task.candidate.email }}</td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">Added by:</th>
                                                  <td colspan="2">{{ task.candidate.created_by.full_name }}</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Interview request details
                                      </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionInterviewDetails">
                                      <div class="accordion-body">
                                          <table class="table">
                                              <tbody>
                                                <tr>
                                                  <th scope="row">Sent by:</th>
                                                  <td>{{ task.from_user.full_name }}</td>
                                                </tr>
                                                {% if task.delegated_by != task.to_user: %}
                                                <tr>
                                                  <th scope="row">Originally sent to:</th>
                                                  <td>{{ task.delegated_by.full_name }}</td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">Currently with:</th>
                                                  <td>{{ task.to_user.full_name }}</td>
                                                </tr>
                                                {% else %}
                                                <tr>
                                                  <th scope="row">Sent to:</th>
                                                  <td>{{ task.to_user.full_name }}</td>
                                                </tr>
                                                {% endif %}
                                                <tr>
                                                <tr>
                                                  <th scope="row">Date sent:</th>
                                                  <td>{{ task.date_sent }}</td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">Interview for:</th>
                                                  <td colspan="2">{{ task.role }}</td>
                                                </tr>
                                                <tr>
                                                  <td colspan="3">{{ task.recruiter_notes|safe }}</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Task Progress:
                                          {% if task.status == "pending": %}
                                          <small class="ms-2 bg-warning"> ({{ task.status }})</small>
                                          {% elif task.status == "accepted" %}
                                          <small class="ms-2 bg-success"> ({{ task.status }})</small>
                                          {% endif %}
                                      </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionInterviewDetails">
                                      <div class="accordion-body">
                                          <table class="table">
                                              <tbody class="bg-light">
                                                <tr>
                                                  <th scope="row">Coordinator assigned:</th>
                                                  <td>{{ task.to_user.full_name }}</td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">Status:</th>
                                                  <td>{{ task.status }}</td>
                                                </tr>
                                                {% if task.status == "accepted" %}
                                                <tr>
                                                  <th scope="row">Date received:</th>
                                                  <td colspan="2">{{ task.date_received }}</td>
                                                </tr>
                                                {% endif %}
                                                <tr>
                                                  <th scope="row">Interview time:</th>
                                                  <td colspan="2">{{ task.interview_time }}</td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">Interview date:</th>
                                                  <td colspan="2">{{ task.interview_date }}</td>
                                                </tr>
                                                <tr>
                                                  <th scope="row">Date completed:</th>
                                                  <td colspan="2">{{ task.date_completed }}</td>
                                                </tr>
                                                {% if task.scheduler_notes %}
                                                <tr>
                                                  <td colspan="3">{{ task.scheduler_notes|safe }}</td>
                                                </tr>
                                                {% endif %}
                                              </tbody>
                                            </table>
                                      </div>
                                    </div>
                                    
                                  </div>
                                    <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Messages related:
                                          {% if messages and messages|length != 0: %}
                                          <strong class="ms-2">({{ messages|length }})</strong>
                                          {% else %}
                                          <strong class="ms-2">(0)</strong>
                                          {% endif %}
                                      </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionInterviewDetails">
                                      <div class="accordion-body">
                                          {% for message in messages %}
                                          <table class="table">
                                              <tbody>
                                                <tr class="bg-light">
                                                  <th scope="row">Sent by:</th>
                                                  <td>{{ message.user.full_name }}</td>
                                                </tr>
                                                <tr class="bg-light">
                                                  <th scope="row">Date:</th>
                                                  <td>{{ message.sent_date }}</td>
                                                </tr>
                                                <tr class="bg-light">
                                                  <th scope="row">Time:</th>
                                                  <td colspan="2">{{ message.sent_time.strftime("%H:%M") }}</td>
                                                </tr>
                                                <tr class="bg-light">
                                                  <th scope="row">Subject:</th>
                                                  <td colspan="2">{{ message.subject }}</td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2">{{ message.text_content|safe }}</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          <hr>
                                          {% endfor %}
                                          
                                      </div>
                                    </div>
                                    
                                  </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <h4>Actions</h4>
                                <div class="mt-2">
                                    <a href="{{url_for('send_message', task_id=task.id)}}" class="btn btn-primary me-2">Schedule</a>
                                    {% if task.candidate.cv != "" %}
                                    <a href="{{url_for('show_cv', candidate_id=task.candidate.id)}}" class="btn btn-primary me-2" target="_blank">Show CV</a>
                                    {% endif %}
                                    <a href="" class="btn btn-primary me-2">Candidate Profile</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </main>
{% include "footer.html" %}
